.look {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 203px;
  h1 {
    padding-bottom: 56px;
    font-family: "History Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
  }
}
