.com {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 103px;
  h1 {
    text-align: center;
    font-family: "History Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
  }
}
